.card {
  margin: 0 auto;
  position: relative;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
  padding: 0;
  width: 413px;
  overflow: hidden;
}

.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
  display: block;
}

.card__button-delete {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  cursor: pointer;
  padding: 0 13px;
  margin: 0;
  background-image: url(../images/deleteCard.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
}

.card__button-delete:hover {
  background-image: url(../images/deleteCardHover.svg);
  opacity: 0.7;
}

.card__button-like {
  opacity: 0.4;
  width: 23px;
  height: 20px;
  border: 0;
  cursor: pointer;
  padding: 0 13px;
  margin: 0;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.card__button-like:hover {
  opacity: 1;
}

.card__button-like_active {
  background-image: url(../images/heart-red.svg);
  opacity: 1;
}

.card__button-like_active:hover {
  opacity: 0.5;
}

.card__image-title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

@media screen and (max-width: 862px) {
  .card__content {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
    margin: auto;
  }

  .card {
    margin: auto;
  }

  .card__image-title {
    font-size: 16px;
    line-height: 1;
  }

  .card__button-delete {
    top: 5px; /* Adjust for smaller screens */
    right: 5px;
  }
}
