.cards {
  background: #fcf5e5;
  padding: 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  margin: auto;
}

.cards__list {
  gap: 40px 20px;
  margin: 20px 0 40px 0;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(413px, 1fr) );
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

@media screen and (max-width: 862px) {
  .cards__list {
    gap: 20px;
    margin: 20px auto 20px;
    grid-template-columns: repeat( auto-fit, minmax(288px, 1fr) );
  }

}
