
.header {
    background-color: rgba(255, 255, 255, 0.8);
    #fff;
    padding: 10px 0;
display: flex;
justify-content: center;
max-width: 1440px;
height: 46px;
margin: 0;
}

.header__logo {
margin: auto;
padding: 0;
height: 26px;
width: 94px;
}