.modal {
  visibility: hidden;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.modal_open {
  visibility: visible;
}

.modal__container {
  background: white;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
  margin: 0;
}

.modal__top-content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 32px;
  padding: 0;
}

.modal__close-add-btn {
  opacity: 0.4;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-image: url(../images/close-btn.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.modal__close-add-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  padding: 4px 0;
}

.modal__form {
  margin: 0;
  padding: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  padding: 0;
  opacity: 0.7;
}

.modal__input {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33);
  font-size: 20px;
  line-height: 1.2; 
  font-weight: 500;
  margin: 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease;
}

.modal__input::placeholder {
  opacity: 0.3;
}

.modal__input:hover {
  border-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__input:focus {
  border-color: rgba(0, 0, 0, 0.5);
}

.modal__input:not(:placeholder-shown) {
  border-color: rgba(0, 0, 0, 0.2);
}

.modal__save-btn {
  width: 156px;
  height: 52px;
  border: 0;
  cursor: pointer;
  background-color: rgba(33, 33, 33);
  margin: 0;
  padding: 18px;
  color: rgba(252, 245, 229);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border-radius: 8px;
}

/* Preview Modal */
.modal_preview {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: auto;
  padding: 0;
}

.modal__container_preview {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  background-color: transparent;
  margin: auto;
  padding: 0;
}

.modal__preview-wrapper {
  position: relative; /* For absolute positioning of the close button */
  display: flex;
  align-items: flex-start; /* Align close button and image at the top */
  gap: 12.5px; /* Add gap between the image and the close button */
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 0;
}

.modal__preview-image {
  display: block;
  max-width: 100%;
  max-height: 661px;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.modal__close-btn {
  flex-shrink: 0; /* Prevent the button from resizing */
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../images/close-btnWhite.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.modal__close-btn:hover {
  opacity: 0.4;
}

.modal__preview-title {
  display: inline-block;
  color: #ffffff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 8px;
 }

@media screen and (max-width: 450px) {
  .modal__save-btn {
    width: 100%;
    margin: 0 auto;
  }

  .modal__container {
    padding: 12px;
    margin: 0 auto;
  }

  .modal__top-content {
    margin: 0 0 24px;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0;
  }

  .modal__input {
    font-size: 16px;

  }
  .modal__label {
    margin: 0 0 24px;
  }
}

@media screen and (max-width: 560px) {
  .modal__close-btn {
    position: relative;
    top: -45.49px;
    right: 45.49px;
    z-index: 10;
  }

  .modal__preview-image {
    max-width: 288px;
    border-radius: 4px;


  }

  .modal__preview-title {
    font-size: 16px;
    max-width: 288px;
  }

  .modal__preview-wrapper {
    gap: 0;

  }
}
